<div class="dashboard-container">
    <h2><mat-icon color="primary">dashboard</mat-icon> Dashboard for {{connectedUser?.firstname}}</h2>

    <div class="stats-section" *ngIf="authService.isAdmin() || authService.isClient()">
        <div class="stat-card" style="border-left: 5px solid blue;">
            <p class="stat-title">ONGOING PROJECTS (GLOBAL)</p>
            <p class="stat-value">{{openedProjectCount}}</p>
        </div>
        <div class="stat-card" style="border-left: 5px solid green;">
            <p class="stat-title">RESOLVED PROJECTS (GLOBAL)</p>
            <p class="stat-value">{{closedProjectCount}}</p>
        </div>
        <div class="stat-card" style="border-left: 5px solid #fcd05e;">
            <p class="stat-title">RECENT PROJECTS (GLOBAL)</p>
            <p class="stat-value">{{recentProjectCount}}</p>
        </div>
        <div class="stat-card" style="border-left: 5px solid #7cbccc;">
            <p class="stat-title">PERFORMANCE (GLOBAL)</p>
            <p class="stat-value">{{performanceProject}}</p>
        </div>
    </div>
