<div style="padding: 3%;">
  <mat-card [formGroup]="projectEditForm">
      <mat-card-header>
          <mat-card-title>Edit Project</mat-card-title>
      </mat-card-header>
      
      <mat-divider></mat-divider>
      
      <mat-card-content><br>
          <div class="form-group">
              <mat-form-field class="flex-item" appearance="outline">
                  <mat-label>Project Date</mat-label>
                  <input type="date" matInput formControlName="date">
              </mat-form-field>
              
              <mat-form-field class="flex-item margin-gap" appearance="outline">
                  <mat-label>Project Name</mat-label>
                  <input matInput formControlName="name">
              </mat-form-field>
          </div>

          <mat-form-field style="width: 100%;" appearance="outline">
              <mat-label>Description</mat-label>
              <textarea matInput rows="5" formControlName="description"></textarea>
          </mat-form-field>

          <mat-form-field style="width: 100%;" appearance="outline">
              <mat-label>Clients in Project</mat-label>
              <mat-select multiple [(value)]="selectedClientsId" formControlName="clients">
                  <mat-option *ngFor="let client of clients" [value]="client.id">
                      {{ client.lastname }} {{ client.firstname }}
                  </mat-option>
              </mat-select>
          </mat-form-field>

          <mat-checkbox formControlName="isClosed">Completed</mat-checkbox>
      </mat-card-content>

      <div class="error-message">{{ errorMessage }}</div>

      <mat-card-actions align="end" class="action-buttons">
          <button class="cancel-button" mat-button (click)="closeEdit()">Cancel</button>
          <button class="confirm-button" mat-button (click)="handleUpdate()">Confirm</button>
      </mat-card-actions>
  </mat-card>
</div>
