.form-container {
    padding: 3%;
    display: flex;
    justify-content: center;
}

.input-group {
    display: flex;
    gap: 14px;
}

.input-field {
    flex: 1;
}

.full-width {
    width: 100%;
}

.error-alert {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}

.cancel-button {
    background-color: #6c757d;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background 0.3s;
}

.cancel-button:hover {
    background-color: #5a6268;
}

.confirm-button {
    background-color: #5cb85c;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background 0.3s;
}

.confirm-button:hover {
    background-color: #4cae4c;
}
